<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Liste des Dossiers</title>
  <style>
    @page {
      margin-footer: 0.5cm;
      footer: html_pageFooter;
      margin-top: 0.5cm;
      margin-header: 0cm;
    }

    .clearfix:after {
      clear: both;
    }

    .clearfix:before {
      content: " ";
      display: table;
    }

    .clearfix:after {
      clear: both;
    }

    .mention {
      position: absolute;
      bottom: 100px;
    }

    caption {
      margin-bottom: 15px;
    }

    fieldset {
      border: 1px solid #000 !important;
      margin: 0;
      padding: 10px;
      position: relative;
      border-radius: 4px;
      background-color: #fff;
      padding-left: 10px !important;
    }

    legend {
      padding: 0 10px;
      margin-left: 100px;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 0px;
      width: 35%;
      border: 1px solid #ddd;
      border-radius: 4px;
      background-color: #ffffff;
    }

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {}

    .content {}

    .double_underline {
      text-decoration: underline;
      border-bottom: 1px solid #000;
      text-align: center;
    }
  </style>
</head>

<body style="font-size:12px;">
  <div class="clearfix">
    <div class="header">
      <div style="width:100%; text-align:center; padding-top:40px;">
        <div class="texte-center" style="border: 1px solid #000; padding:8px;">
          <b style="font-size:15px; font-weight:bold;">CLERC EN CHARGE : {{ emploi|upper }} </b><br>
        </div>
        <br><br>
        <table>
          <caption>
            <b style="font-size:15px; font-weight:bold; text-decoration:underline;">LISTE DES DOSSIERS</b><br>
          </caption>
          <thead>
            <tr style="background-color: #ff6600">
              <th style="vertical-align:middle; color: #ffffff">N° ouverture</th>
              <th style="vertical-align:middle; color: #ffffff">N° compte</th>
              <th style="vertical-align:middle; color: #ffffff">Date création</th>
              <th style="vertical-align:middle; color: #ffffff">Objet</th>
              <th style="vertical-align:middle; color: #ffffff">Clerc en charge</th>
              <th style="vertical-align:middle; color: #ffffff">Type de dossier</th>
              <th style="vertical-align:middle; color: #ffffff">Type d'acte</th>
              <th style="vertical-align:middle; color: #ffffff">Etape</th>
            </tr>
          </thead>
          <tbody>
            {% for data in datas %}
            <tr>
              <td style="vertical-align:middle;">{{ data.numeroOuverture }}</td>
              <td style="vertical-align:middle;">{{ data.numcompte }}</td>
              <td style="vertical-align:middle;">{{ data.dateCreation|date('d/m/Y') }}</td>
              <td style="vertical-align:middle;">{{ data.objet }}</td>
              <td style="vertical-align:middle;">{{ data.employe }}</td>
              <td style="vertical-align:middle;">{{ data.nature }}</td>
              <td style="vertical-align:middle;">{{ data.typeActe }}</td>
              <td style="vertical-align:middle;">{{ data.etape }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <htmlpagefooter name="pageFooter">
    <div style="border-top:2px solid #000;"></div>
    <p align="center" style="margin-top:-1px">
      UFHB/UFRSEG BP V43 ABIDJAN EMAIL: <a
        href="mailto:secretariat@ufrseg-filierespro-ufhb.ci">secretariat@ufrseg-filierespro-ufhb.ci</a><br>
      TEL : 01 01 15 44 44
    </p>
  </htmlpagefooter>
</body>

</html>