<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Liste des Paiements</title>
  <style>
    body {
      font-size: 12px;
      font-family: Arial, sans-serif;
    }

    .clearfix:after {
      content: "";
      display: table;
      clear: both;
    }

    table {
      border-collapse: collapse;
      margin-top: 20px;
    }

    th,
    td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center;
    }

    caption {
      background-color: rgba(229, 219, 216, 0.7);
      padding: 10px;
      font-weight: bold;
      border: 2px solid black;
    }

    tbody th {
      color: red;
      font-size: 18px;
      background-color: #ede2e2;
    }

    .tables-container {
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }

    table:first-of-type {
      width: 65%;
      margin-right: auto;
    }
     table.second-table1 {
      width: 100%;
    }

    table.second-table {
      width: 30%;
      margin-left: auto;
    }
  </style>
</head>

<body>
  <div class="clearfix">
    <div style="text-align: center;">
      <b>NOTARIE</b><br>
      BP V 43 ABIDJAN, TEL : 01 01 15 44 44<br>
      Abidjan-Cocody<br>
      <hr>
    </div>
  </div>

  <div class="tables-container">
    <!-- Premier tableau -->
    <table class="second-table1">
      <caption>POINT DES PAIEMENTS</caption>
      <thead>
        <tr>
          <th>N°</th>
          <th>Dossier</th>
          <th>Client</th>
          <th>Date </th>
          <th>Montant payé</th>
        </tr>
      </thead>
      <tbody>
        {% for key, ligne in data %}
        <tr>
          <td>{{ key + 1 }}</td>
          <td>
            {% for identification in ligne.compte.client.identifications %}
            {{ 'Dossier ' ~ identification.dossier.numeroOuverture }}
            {% endfor %}
          </td>
          <td>{{ ligne.compte.client.nom }} {{ ligne.compte.client.prenom }}</td>
          <td>{{ ligne.dateversementfrais | date('d/m/Y') }}</td>
          <td>{{ ligne.montantverse | number_format(0, '.', '.') }}</td>
        </tr>
        {% else %}
        <tr>
          <td colspan="5">Aucune donnée trouvée</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- Deuxième tableau -->
    <table class="second-table">
      <tbody>
        {% set totalpayer = 0 %}
        {% set totalapayer = 0 %}
        {% set totalres = 0 %}
        {% for key, ligne in data %}
        {% set totalpayer = totalpayer + ligne.montantverse %}
        {% set totalapayer = ligne.compte.montant %}
        {% set totalres = ligne.compte.montant - totalpayer %}
            {% endfor %}
        <tr>
          <th>MONTANT A PAYER</th>
          <th>{{ totalapayer | number_format(0, '.', '.') }}</th>
        </tr>
        <tr>
          <th>TOTAL PAYÉ</th>
          <th>{{ totalpayer | number_format(0, '.', '.') }}</th>
        </tr>
        <tr>
          <th>RESTE À PAYER</th>
          <th>{{ totalres | number_format(0, '.', '.') }}</th>
        </tr>
       
      </tbody>
    </table>
  </div>
</body>

</html>