
{% macro ligne_document_client(colonne) %}


    <tr class="row-colonne even pointer table-light">
         <td width="40%" class="p-2">

            <div style="display:non" class="field-matiere">{{ form_widget(colonne.document_type_client) }}</div>
{#             <div style="display:non" class="field-matiere">{{ colonne.document_type_client.vars.value }} </div>
             #}
        </td>
         <td width="40%" class="p-2">
         
            <div style="display:no " class="field-matiere">{{ form_widget(colonne.fichier) }}</div>
        </td>
        <td width="20%" class="p-2">

          
            <div style="display:no " class="field-matiere">

             {% if colonne.children.fichier.vars.data %}           
                 <a class="btn btn-dark btn-sm" style="margin-top: 0px;" target="_blank" href="{{ asset('uploads/media_entreprise/' ~ colonne.vars.value.fichier.alt) }} " download> <i class="bi bi-upload"></i>
                </a>
             {% endif %}
            </div>
        </td>
    
        
    </tr>
{% endmacro  %}


{% macro prototype_ligne_document_client(form) %}
    <div class="list-colonne"  data-prototype="{{ _self.ligne_document_client(form.documentClients.vars.prototype)|e }}"></div>
    
    <table class="table table-bordered table-custom">
        <thead class="thead-dark">
                    <tr width="100%" style="border: 0px !important;">
                        <th colspan="4" class="p-2 text-center text-bold text-uppercase">Liste des pièces </th>
                    </tr>
            <tr>
                <th width="50%" class="p-2">Type de pièce</th>
                <th width="40%" class="p-2">Fichier</th>
               
                <th></th>
            </tr>
        </thead>
        <tbody  class="column-container proto-container" data-childclass=""">
            {% for item in form.documentClients %}
                {{ _self.ligne_document_client(item|e) }}
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}